// Colours
$white       : #FFFFFF;
$black       : #000000;
$red         : #F44336;
$pink        : #E91E63;
$purple      : #9C27B0;
$deep-purple : #673AB7;
$indigo      : #3F51B5;
$blue        : #2196F3;
$light-blue  : #03A9F4;
$cyan        : #00BCD4;
$teal        : #009688;
$green       : #4CAF50;
$light-green : #8BC34A;
$lime-green  : #CDDC39;
$yellow      : #FFEB3B;
$amber       : #FFC107;
$orange      : #FF9800;
$deep-orange : #FF5722;
$brown       : #795548;
$blue-grey   : #607D8B;
$grey        : #9E9E9E;
$light-grey  : #F4F4F4;
$medium-grey : #E7E7E7;
$dark-grey   : #363636;

// Font colours
.c-white { color: $white; }
.c-black { color: $black; }
.c-red { color: $red; }
.c-pink { color: $pink; }
.c-purple { color: $purple; }
.c-deep-purple { color: $deep-purple; }
.c-indigo { color: $indigo; }
.c-blue { color: $blue; }
.c-light-blue { color: $light-blue; }
.c-cyan { color: $cyan; }
.c-teal { color: $teal; }
.c-green { color: $green; }
.c-light-green { color: $light-green; }
.c-lime-green { color: $lime-green; }
.c-yellow { color: $yellow; }
.c-amber { color: $amber; }
.c-orange { color: $orange; }
.c-deep-orange { color: $deep-orange; }
.c-brown { color: $brown; }
.c-blue-grey { color: $blue-grey; }
.c-grey { color: $grey; }
.c-light-grey { color: $light-grey; }
.c-medium-grey { color: $medium-grey; }
.c-dark-grey { color: $dark-grey; }

// Background colours
.bc-white { background-color: $white; }
.bc-black { background-color: $black; }
.bc-red { background-color: $red; }
.bc-pink { background-color: $pink; }
.bc-purple { background-color: $purple; }
.bc-deep-purple { background-color: $deep-purple; }
.bc-indigo { background-color: $indigo; }
.bc-blue { background-color: $blue; }
.bc-light-blue { background-color: $light-blue; }
.bc-cyan { background-color: $cyan; }
.bc-teal { background-color: $teal; }
.bc-green { background-color: $green; }
.bc-light-green { background-color: $light-green; }
.bc-lime-green { background-color: $lime-green; }
.bc-yellow { background-color: $yellow; }
.bc-amber { background-color: $amber; }
.bc-orange { background-color: $orange; }
.bc-deep-orange { background-color: $deep-orange; }
.bc-brown { background-color: $brown; }
.bc-blue-grey { background-color: $blue-grey; }
.bc-grey { background-color: $grey; }
.bc-light-grey { background-color: $light-grey; }
.bc-medium-grey { background-color: $medium-grey; }
.bc-dark-grey { background-color: $dark-grey; }
